/* ------------------------------------------------------------------------
Google Font Cdn Start 
------------------------------------------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
/* ------------------------------------------------------------------------
Google Font Cdn End 
------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
Common/Shared Style Start
---------------------------------------------------------------------------
------------------------------------------------------------------------ */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mulish", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

section {
    margin-bottom: 80px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 10px
}

.active {
    color: #FF5400;
}

.center {
    text-align: center;
}

.sec_ttl {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;

}

.sec_ttl_2 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 20px;
}

.sec_text {
    color: #131318A7;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.sec_text_2 {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.btn {
    padding: 14px 20px;
    color: #fff;
    background: #FF5400;
    font-size: 18px;
    font-weight: 800;
    border-radius: 8px;
    border: 1px solid #FF5400;
    transition: all linear .3s;
    cursor: pointer;
}

.btn:hover {
    border: 1px solid #FF5400;
    background: transparent;
    color: #131318;
}

.d-none {
    display: none;
}

.m-right {
    margin-right: 10px;
}

/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
Common/Shared Style End 
---------------------------------------------------------------------------
------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
Header section Start
---------------------------------------------------------------------------
------------------------------------------------------------------------ */

/* Nav Section Start */
#navbar {
    padding: 30px 0;
}

#navbar .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

#navbar .logo .sec_ttl {
    margin-bottom: 0;
}

#navbar .menu_container {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* .d-none {
    display: none;
} */

#navbar .nav_link {
    color: #424247;
    font-size: 18px;
    font-weight: 400;
    transition: all linear .3s;
}

#navbar .nav_link:hover {
    color: #FF5400;
}

#navbar .active_2 {
    color: #FF5400;
}

/* Nav Section End */

/* Hero Section Start */
#hero_sec {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero_sec .container {
    background: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8) 0%, rgba(19, 19, 24, 0) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    padding: 150px 0;
}

#hero_sec .sec_ttl {
    color: #fff;
    font-size: 64px;
    margin-bottom: 40px;
}

#hero_sec .sec_text {
    color: #fff;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
}

#hero_sec .selector {
    width: 75%;
    padding: 10px;
    margin: 20px auto;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero_sec .selector input,
#hero_sec .selector select,
#hero_sec .selector option,
#hero_sec .selector .btn {
    padding: 14px 19px;
    color: #131318A5;
    font-size: 15px;
    font-weight: 400;
    border-radius: 8px;
    margin: 10px;
    border: none;
    width: 174px;
}

#hero_sec .selector .btn {
    color: #fff;
    border: 1px solid #FF5400;
}

#hero_sec .selector .btn i {
    margin-right: 5px;
}

/* Hero Section End */
/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
Header Section End
---------------------------------------------------------------------------
-------------------------------------------------------------------------*/

/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
Main Section End
---------------------------------------------------------------------------
-------------------------------------------------------------------------*/

/* Popular Tours Section Start */
#popular_tour .grid {
    gap: 30px;
}

#popular_tour .popular_text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 20px;
}

#popular_tour ul {
    margin-left: 40px;
}

#popular_tour li {
    list-style-type: circle;
}

#popular_tour img {
    width: 100%;
}

/* Popular Tours Section End */
/* Choose Your Destination Section Start */
#destination .sec_text {
    width: 60%;
    margin: 0 auto;
}

#destination .destination_cards {
    margin-top: 40px;
}

#destination img {
    filter: brightness(90%);
    width: 100%;
    height: 300px;
}

#destination .destination_card_1,
#destination .destination_card_2,
#destination .destination_card_3 {
    display: grid;
    grid-template-columns: repeat(2, 1.5fr);
    gap: 10px;
    margin-bottom: 8px;
}

#destination .destination_card_2 {
    grid-template-columns: 0.8fr 1.5fr 0.7fr;
}

#destination .destination_card_3 {
    grid-template-columns: 1fr 2fr;

}

#destination .item {
    position: relative;
}

#destination .sec_ttl_2 {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Choose Your Destination Section End */
/* Choose Us Section Start */
#chooseUs .sec_text {
    width: 60%;
    margin: 0 auto;
}

#chooseUs .choose_card_container {
    margin-top: 40px;
}

#chooseUs .choose_card_1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

#chooseUs .choose_card_2 {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}

#chooseUs .choose_card_item_1,
#chooseUs .choose_card_item_2,
#chooseUs .choose_card_item_3 {
    width: 100%;
    padding: 50px 30px;
    border-radius: 16px;
    background: #FBB56333;
    border: 1px solid rgba(233, 68, 64, 0.10);
}

#chooseUs .choose_card_item_2 {
    background: rgba(41, 206, 246, 0.2);
    border: 1px solid rgba(41, 206, 246, 0.10);
}

#chooseUs .choose_card_item_3 {
    background: rgba(233, 68, 64, 0.2);
    border: 1px solid rgba(233, 68, 64, 0.10);
}

#chooseUs img {
    margin-bottom: 20px;
}

/* Choose Us Section End */
/* Deals & Discounts section Start */
#discount .sec_text {
    width: 60%;
    margin: 0 auto;
}

#discount .discount_cards {
    margin-top: 40px;
}

#discount .discount_card_1,
#discount .discount_card_2 {
    padding: 50px;
    border-radius: 16px;
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
    background: url(../Images/Group\ 39.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(90%);
}

#discount .discount_card_2 {
    background: url(../Images/Group\ 40.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: start;
}

#discount .card_info {
    background: #ffffffa8;
    backdrop-filter: blur(2px);
    border-radius: 16px;
    padding: 50px;
    width: 60%;
}

#discount .card_info .card_top {
    margin-bottom: 20px;
}

#discount .card_info .card_top span {
    margin-right: 10px;
}

/* Deals & Discounts section End */
/* A Simple Perfect Place To Get Lost Section Start */
#Place .grid {
    gap: 30px;
}

#Place .Place_text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 20px;
}

#Place ul {
    margin-left: 40px;
}

#Place li {
    list-style-type: circle;
}

#Place .Place_img {
    position: relative;
}

#Place .Place_img .sec_ttl_2 {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Place img {
    width: 100%;
}

/* A Simple Perfect Place To Get Lost Section End */
/* Newsletter_text Section Start */
#Newsletter .grid {
    gap: 30px;
    grid-template-columns: 0.8fr 1.2fr;
}

#Newsletter .Newsletter_form {
    padding: 30px;
    border: 1px solid #FF5400;
    border-radius: 16px;
}

#Newsletter .Newsletter_text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 20px;
}

#Newsletter .Newsletter_text hr {
    border: 1px solid #dadadda9
}

#Newsletter .Newsletter_text input {
    color: #131318A3;
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    background: #efeff1a1;
    border: 0;
}

#Newsletter .Newsletter_img {
    position: relative;
}

#Newsletter .Newsletter_img .saveUp_box {
    padding: 20px;
    border-radius: 8px;
    background: #FF5400;
    position: absolute;
    bottom: 12%;
    right: 2%;
    transform: rotate(-30deg);
}

#Newsletter .Newsletter_img .saveUp_box .sec_text,
#Newsletter .Newsletter_img .saveUp_box .sec_ttl_2 {
    margin-bottom: 0;
}

#Newsletter .Newsletter_img .saveUp_box .color {
    color: #ffffff;
}

#Newsletter img {
    width: 100%;
}

/* Newsletter Section End */
/* unique section start */
#unique .container {
    border-radius: 16px;
    background: #efeff1a1;
    padding: 50px 30px;
}

#unique .container .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
}

#unique .unique_item {
    margin-top: 50px;
}

#unique .unique_items {
    padding: 50px 0;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 16px;
    background: #ffffff;
    transition: all linear .3s;
}

#unique .unique_items:hover {
    background: #FF5400;
}

#unique .unique_items:hover .sec_ttl,
#unique .unique_items:hover .sec_text {
    color: #fff;
}

#unique input {
    color: #131318A3;
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    background: #ffffff;
    border: 0;
    margin: 20px;
    width: 60%
}

/* unique section End */
/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
Main Section End
---------------------------------------------------------------------------
-------------------------------------------------------------------------*/

/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
Footer Section Start
---------------------------------------------------------------------------
-------------------------------------------------------------------------*/
#footer {
    background: #13131814;
    padding: 100px;
}

#footer .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

#footer .logo .sec_ttl {
    margin-bottom: 0;
}

#footer .center .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#footer .center .icon i {
    font-size: 24px;
    color: #131318;
    padding: 10px;
    border-radius: 50%;
    transition: all linear .3s;
}

#footer .center .icon a:hover i {
    background: #FF5400;
    color: #fff
}

#footer .center hr {
    border: 1px solid #dadadda9;
    width: 60%;
    margin: 35px 0;
}

#footer .margin-0 {
    margin-bottom: 0;
}

/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
Footer Section End
---------------------------------------------------------------------------
-------------------------------------------------------------------------*/

/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
Responsive Design Start
---------------------------------------------------------------------------
-------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------
mobile device 
-------------------------------------------------------------------------*/
@media screen and (max-width:600px) {

    /* Common/Shared Style Start */
    section {
        margin-bottom: 40px;
    }

    .container {
        width: 95%;
        margin: 0 auto;
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .sec_ttl {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .sec_ttl_2 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .sec_text {
        margin-bottom: 10px;
        font-size: 12px;
    }

    .sec_text_2 {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .btn {
        padding: 10px 15px;
        font-size: 14px;
        font-weight: 600;
        width: 50%;

    }

    /* navbar Responsive */
    #header #navbar .hide {
        display: none;
    }

    #navbar .sec_ttl {
        font-size: 20px;
    }

    #navbar img {
        width: 30%;
    }

    .d-none {
        display: block;
        font-size: 20px;
    }

    /* Hero Responsive */
    #hero_sec .container {
        padding: 5px;
    }

    #hero_sec .sec_ttl {
        font-size: 22px;
        margin-bottom: 20px;
    }

    #hero_sec .sec_text {
        color: #fff;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    #hero_sec .selector {
        width: 90%;
        padding: 10px;
        margin: 10px auto;
        flex-direction: column;
    }

    #hero_sec .selector input,
    #hero_sec .selector select,
    #hero_sec .selector option,
    #hero_sec .selector .btn {
        width: 100%;
        padding: 8px 12px;
        font-size: 12px;
    }

    /* Popular Tours Responsive */
    #popular_tour img {
        width: 100%;
        height: 250px;
    }

    #popular_tour .popular_text {
        gap: 10px;
        margin-bottom: 0;
    }

    #popular_tour ul {
        margin-left: 20px;
    }

    /* Choose Your Destination Section Responsive */
    #destination .sec_text {
        width: 80%;
        margin: 0 auto;
    }

    #destination .destination_cards {
        margin-top: 20px;
    }

    #destination img {
        height: 250px;
    }

    #destination .destination_card_1,
    #destination .destination_card_2,
    #destination .destination_card_3 {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Choose Us Section  Responsive*/
    #chooseUs .sec_text {
        width: 90%;
        margin: 0 auto;
    }

    #chooseUs .choose_card_container {
        margin-top: 20px;
    }

    #chooseUs .choose_card_1 {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    #chooseUs .choose_card_2 {
        width: 100%;
        margin-top: 10px;
    }

    #chooseUs .choose_card_item_1,
    #chooseUs .choose_card_item_2,
    #chooseUs .choose_card_item_3 {
        padding: 30px 15px;
    }

    /* Deals & Discounts section Start */
    #discount .sec_text {
        width: 90%;
    }

    #discount .discount_cards {
        margin-top: 20px;
    }

    #discount .discount_card_1,
    #discount .discount_card_2 {
        padding: 120px 20px 20px 20px;
        justify-content: center;
        align-items: end;
    }

    #discount .card_info {
        padding: 20px;
        width: 100%;

    }

    /* A Simple Perfect Place To Get Lost Section Responsive */
    #Place img {
        width: 100%;
        height: 250px;
    }

    #Place .Place_text {
        gap: 10px;
        margin-bottom: 0;
    }

    #Place ul {
        margin-left: 20px;
    }

    /* Newsletter_text Section Responsive */
    #Newsletter .grid {
        gap: 10px;
        grid-template-columns: repeat(1, 1fr);
    }

    #Newsletter .Newsletter_form {
        padding: 10px;
    }

    #Newsletter .Newsletter_text {
        gap: 15px;
        margin-bottom: 10px;
    }

    #Newsletter .Newsletter_text input {
        padding: 10px;
        font-size: 12px;
    }

    #Newsletter .Newsletter_img .saveUp_box {
        padding: 10px;
        bottom: 20%;
        right: 2%;
        transform: rotate(-30deg);
    }

    #Newsletter img {
        width: 100%;
        height: 250px;
    }

    /* unique section Responsive */
    #unique .container {
        padding: 10px;
    }

    #unique .container .row {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 10px;
    }

    #unique .unique_items {
        padding: 25px 0;
    }

    #unique .unique_item {
        margin-top: 20px;
    }

    #unique input {
        padding: 10px;
        font-size: 12px;
        margin: 10px 0;
        width: 100%
    }

    /* Footer Section Responsive */
    #footer {
        padding: 20px 10px;
    }

    #footer .logo .sec_ttl {
        font-size: 20px;
    }

    #footer .logo img {
        width: 30%
    }

    #footer .center .icon i {
        font-size: 16px;
    }

    #footer .center hr {
        width: 100%;
        margin: 20px 0;
    }
}

/*-------------------------------------------------------------------------
Tablet device
--------------------------------------------------------------------------*/
@media screen and (min-width:601px) and (max-width:991px) {

    /* Common/Shared Style Start */
    section {
        margin-bottom: 60px;
    }

    .container {
        width: 92%;
        margin: 0 auto;
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .sec_ttl {
        font-size: 35px;
        margin-bottom: 10px;
    }

    .sec_ttl_2 {
        font-size: 21px;
        margin-bottom: 10px;
    }

    .sec_text {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .sec_text_2 {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .btn {
        padding: 12px 17px;
        font-size: 16px;
        font-weight: 600;
        width: 40%;

    }

    /* navbar Responsive  */
    #navbar .menu_container {
        gap: 10px;
    }

    #navbar .sec_ttl {
        font-size: 25px;
    }

    #navbar img {
        width: 30%;
    }

    #navbar .nav_link {
        font-size: 14px;
    }

    /* Hero Responsive */
    #hero_sec .container {
        padding: 30px;
    }

    #hero_sec .sec_ttl {
        font-size: 22px;
        margin-bottom: 20px;
    }

    #hero_sec .sec_text {
        color: #fff;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    #hero_sec .selector {
        width: 90%;
        padding: 10px;
        margin: 15px auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #hero_sec .selector input,
    #hero_sec .selector select,
    #hero_sec .selector option,
    #hero_sec .selector .btn {
        width: calc(100% - 20px);
        padding: 12px 16px;
        font-size: 14px;
    }

    /* Popular Tours Responsive */
    #popular_tour img {
        width: 100%;
        height: 350px;
    }

    #popular_tour .popular_text {
        gap: 20px;
        margin-bottom: 0;
    }

    #popular_tour ul {
        margin-left: 20px;
    }

    /* Choose Your Destination Section Responsive */
    #destination .sec_text {
        width: 80%;
        margin: 0 auto;
    }

    #destination .destination_cards {
        margin-top: 30px;
    }

    #destination img {
        height: 200px;
    }

    #destination .destination_card_1,
    #destination .destination_card_2,
    #destination .destination_card_3 {
        grid-template-columns: repeat(2, 1fr);
    }

    #destination .destination_card_2 .item-d-none {
        display: none;
    }

    /* Choose Us Section  Responsive*/
    #chooseUs .sec_text {
        width: 80%;
        margin: 0 auto;
    }

    #chooseUs .choose_card_container {
        margin-top: 20px;
    }

    #chooseUs .choose_card_1 {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    #chooseUs .choose_card_2 {
        width: 100%;
        margin-top: 10px;
    }

    #chooseUs .choose_card_item_1,
    #chooseUs .choose_card_item_2,
    #chooseUs .choose_card_item_3 {
        padding: 35px 20px;
    }

    /* Deals & Discounts section Start */
    #discount .sec_text {
        width: 80%;
    }

    #discount .discount_cards {
        margin-top: 30px;
    }

    #discount .discount_card_1,
    #discount .discount_card_2 {
        padding: 40px;
        justify-content: center;
        align-items: center;
    }

    #discount .card_info {
        padding: 20px;
        width: 100%;

    }

    /* A Simple Perfect Place To Get Lost Section Responsive */
    #Place img {
        width: 100%;
        height: 350px;
    }

    #Place .Place_text {
        gap: 20px;
        margin-bottom: 0;
    }

    #Place ul {
        margin-left: 20px;
    }

    /* Newsletter_text Section Responsive */
    #Newsletter .grid {
        gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }

    #Newsletter .Newsletter_form {
        padding: 20px;
    }

    #Newsletter .Newsletter_text {
        gap: 20px;
        margin-bottom: 10px;
    }

    #Newsletter .Newsletter_text input {
        padding: 15px;
        font-size: 14px;
    }

    #Newsletter img {
        width: 100%;
        height: 350px;
    }

    #Newsletter .Newsletter_img .saveUp_box {
        padding: 15px;
        bottom: 12%;
        right: 2%;
        transform: rotate(-30deg);
    }

    /* unique section Responsive */
    #unique .container {
        padding: 15px;
    }

    #unique .container .row {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    #unique .unique_items {
        padding: 35px 0;
    }

    #unique .unique_item {
        margin-top: 35px;
    }

    #unique input {
        font-size: 14px;
        margin: 15px 0;
        width: 100%
    }

    /* Footer Section Responsive */
    #footer {
        padding: 50px;
    }

    #footer .logo .sec_ttl {
        font-size: 25px;
    }

    #footer .logo img {
        width: 30%
    }

    #footer .center .icon i {
        font-size: 20px;
    }

    #footer .center hr {
        width: 70%;
        margin: 25px 0;
    }
}

/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
Responsive Design End
---------------------------------------------------------------------------
-------------------------------------------------------------------------*/