/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
Google Font Cdn Start 
---------------------------------------------------------------------------
------------------------------------------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
Google Font Cdn End 
---------------------------------------------------------------------------
------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
Common/Shared Style Start
---------------------------------------------------------------------------
------------------------------------------------------------------------ */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mulish", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {
    width: 90%;
    margin: 0auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
Common/Shared Style End 
---------------------------------------------------------------------------
------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
Header section Start
---------------------------------------------------------------------------
------------------------------------------------------------------------ */

/* Nav Section Start */
/* Nav Section End */

/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
Header Section End
---------------------------------------------------------------------------
------------------------------------------------------------------------ */